# Sunucu Port Numarası
PORT=3000

# JSON Çıktı Dosyası Yolu (Göreceli veya Mutlak Yol)
OUTPUT_PATH=./public/tmp/altin.json

# Diske Yazma Sıklığı (milisaniye cinsinden - Throttling)
FLUSH_INTERVAL_MS=1000

# WebSocket URL ve Parametreleri
SOCKET_URL=wss://hrmsocketonly.haremaltin.com
SOCKET_PATH=/socket.io
SOCKET_ORIGIN=https://www.haremaltin.com

# User-Agent: Boş bırakırsanız sistem (Linux, macOS, Windows, ARM64 vb.) otomatik taranarak en uyumlu güncel tarayıcı User-Agent'ı otomatik oluşturulur.
# Özel bir User-Agent girmek isterseniz aşağıya yazabilirsiniz:
SOCKET_USER_AGENT=
